apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: keycloak
  labels:
    app: grafana
    app.kubernetes.io/name: grafana
    app.kubernetes.io/component: monitoring
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: web
  selector:
    app: grafana

