apiVersion: v1
kind: Secret
metadata:
  name: postgresql-secret
  namespace: keycloak
type: Opaque
stringData:
  username: keycloak
  password: "CHANGE_ME_IN_PRODUCTION" # Change this in production!
  database: keycloak

